node_modules/
dist/

# Editor directories and files
coverage
.vscode/*
!.vscode/extensions.json
.env
.env.test
.env.test.local
.env.development
.env.development.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?